:root{box-sizing: border-box;
    font-family:Roboto;
    margin: 0px;
    padding: 0px;
    
    }

    *,
    ::before,
    ::after{box-sizing: inherit;}

    #header-container{
        text-decoration: underline;
        color: red;

    }