:root{box-sizing: border-box;
    font-family:Roboto;
    margin: 0px;
    padding: 0px;
    
    }

    *,
    ::before,
    ::after{box-sizing: inherit;}

    #header-container{
        text-decoration: underline;
        color: red;

    }
   /* .head-naw{
        text-decoration: none;
    }*/

    /*.head-naw :hover {
        cursor: pointer;
        text-decoration: underline;
        color: aqua;
    }*/
    